rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /puzzles/{puzzleId} {
      allow read: if true;
      allow write: if false;
    }
    match /puzzleDistributionCounts/{puzzleId} {
      allow read: if true;
      allow write: if false;
    }
    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /users/{uid}/downloads/{puzzleId} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /users/{uid}/checkoutSessions/{sessionId} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /users/{uid}/purchases/{productId} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /stats/{doc} {
      allow read: if true;
      allow write: if false;
    }
  }
}
